Bin/
bin/
Obj/
obj/
[Bb]in/
[Oo]bj/
X64/
x64/
X86/
x86/
[Aa]rm/
[Aa]rm64/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncb
*.opensdf
*.sdf
*.cache
*.amo
*.cscfg
*.csdef
_Chutzpah*
*.lsu
*.swp
*.lock
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sln.iml
*.userprefs
*.usermd
Project_Readme.html
[Dd]ebug/
[Rr]elease/
_ReSharper*/
*.ReSharper
*.DotSettings.user
ClientBin/
Generated_Files/
_TeamCity*
dotCover/
AppPackages/
BundleArtifacts/
PackageArtifacts/
*.nupkg
**/packages/*
!**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/
TestResults/
*.trx
*.md.html
*.coverage
*.coveragexml
_NCrunch_*
.*crunch*.config
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
._*
*.orig
*.rej
.gitattributes_local
songs.json
*.json.bak